<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
	<title>The Snake Game</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='stylesheets/About.css')}}">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="topnav" id="myTopnav">
    <a href="/logout" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-log-out"></span> Logout</a>
</div>

<div class="jumbotron text-center">
<h1>What Is BrainWaveGames?</h1>

<p>
BrainWave Games is a website targeted for children that develops their cognitive skills using specially developed video games on the website.
The website will give you the ability to track your progress and to evaluate what type of skills might need further training and development. 
</p>

<h1>The Goal</h1>

<h2>My website's goal is to develop young children's cognitive skills by playing specially developed video games on the website. </h2>

<h3>BrainWave Games brings education & video games into one simple place. </h3>
</div>
</body>
</html>