<!DOCTYPE html>
<html>
<head>
	<title>Home & News</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='stylesheets/Home.css')}}">

</head>
<body>
<!--TopNavBar-->
<div class="topnav" id="myTopnav">
    <a href="/logout" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-log-out"></span> Log out</a>
    <a href="/about" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-log-out"></span> About</a>
</div>

<!--Welcome Note-->
<h1> Hello {{user.username}}! Happy Gaming</h1>

<!--Recommended-->
<div>
	<h1> Recommended</h1>


<a href="/snakegame"><img src="../static/Snake.jpeg" alt="Snake Game" title="Good Ol' Snake Game"></a>
<h2>The Snake Game</h2>


	<h1>Workouts</h1>
	<hr>
</div>

<!--News & Updates-->


</body>
</html>