<!DOCTYPE html>
<html>
<head>
	<title>Home & News</title>
</head>
<body>
<!--TopNavBar-->
<div class="topnav" id="myTopnav">
    <a href="/logout" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-log-out"></span> Log out</a>
</div>

<!--Welcome Note-->
<h1> Hello {{user.username}}! Happy Gaming</h1>

<!--Recommended-->
<div>
	<h1> Recommended</h1>

<img src="../static/Snake.jpeg" alt="Snake Game">

	<h1>Workouts</h1>
	<hr>
</div>

<!--News & Updates-->


</body>
</html>